---
import Layout from "../../layouts/Layout.astro";
import lang from "../../data/lang.json";

const currentLang = "ru";

const locale = currentLang;
const t = lang[locale];
---

<Layout title="Page Not Found | Dmitry Lean">
  <main class="content">
    <h1>Page Not Found 🚀</h1>
    <p>Back To <a href="/">Home</a>.</p>
  </main>
</Layout>
