---

---

<html lang="en">
  <head>
    <title>404 - Page not found</title>
    <script>
      const userLang = navigator.language || navigator.language;
      if (userLang.startsWith("ru")) {
        window.location.replace("/ru/404/");
      } else {
        window.location.replace("/en/404/");
      }
    </script>
  </head>
  <body>
    <h1>Redirecting...</h1>
  </body>
</html>
