---

---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting…</title>
    <script is:inline>
      const savedLang = localStorage.getItem("lang");

      if (!savedLang) {
        const browserLang = navigator.language.split("-")[0];
        if (browserLang === "en") {
          localStorage.setItem("lang", "en");
          window.location.replace("/en/");
        } else {
          localStorage.setItem("lang", "ru");
          window.location.replace("/ru/");
        }
      } else {
        if (savedLang === "en" && !location.pathname.startsWith("/en")) {
          window.location.replace("/en/");
        }
        if (savedLang === "ru" && !location.pathname.startsWith("/ru")) {
          window.location.replace("/ru/");
        }
      }
    </script>
  </head>
  <body>
    <p>Redirecting…</p>
  </body>
</html>
