---
import Layout from "../../layouts/Layout.astro";
import lang from "../../data/lang.json";

const currentLang = "ru";

const locale = currentLang;
const t = lang[locale];
---

<Layout title="Контакт | Dmitry Lean">
  <main class="content">
    <h1>Страница не найдена 🚀</h1>
    <p>Кажется, вы попали не туда. Вернуться на <a href="/">главную</a>.</p>
  </main>
</Layout>
