 /* ===== HERO ===== */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
  }

  .hero-content {
    flex: 1;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .hero-content p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 30px;
    line-height: 1.6;
  }

  .hero-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .primary-btn {
    display: inline-block;
    padding: 12px 24px;
    background: #fd0008;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease;
  }

  .primary-btn:hover,
  .second-btn:hover {
    background: #ffffff;
    color: black;
  }

   .second-btn {
    display: inline-block;
    padding: 12px 24px;
    background: blue;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease;
  }

  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .hero-image img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #f4f9ff;
  }

  /* ===== RESPONSIVE ===== */
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }

    .hero-content {
      order: 2;
    }

    .hero-image {
      order: 1;
      margin-bottom: 20px;
    }
  }